.row {
	display: flex;
	flex-direction: row;
}

.col {
	border: 3px solid;
	height: 70px;
	width: 70px;
	margin-top: -3px;
	margin-left: -3px;
}

.black_col {
	background: black;
}

.red_col {
	background: red;
}